<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">

        <div cdkDropList
             cdkDropListGroup
             cdkDropListOrientation="horizontal" class="board-columns"
             (cdkDropListDropped)="dropGrid($event)">
          <div
            cdkDragLockAxis="x" class="board-column"
            *ngFor="let column of board.columns" cdkDrag>
            <div class="column-title" cdkDragHandle>
              {{ column.title }}
            </div>
            <div class="tasks-container"
                 id="{{column.id}}"
                 cdkDropList
                 [cdkDropListData]="column.cards"
                 (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of column.cards" cdkDrag>
                {{ item.title }}<br>
                {{item.content}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
