<h1>Book List</h1>
<div class="row">
  <div class="col">
    <span>There are {{books.length}} book(s)</span>
  </div>
  <div class="col" style="text-align: right">
    <a routerLink="/books/add" class="btn btn-primary">Add new book</a>
  </div>
</div><br>
<table class="table">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Author</th>
    <th>Edit | Remove</th>
  </tr>
  <tr *ngFor="let book of books; index as i">
    <td>{{i + 1}}</td>
    <td><a class="btn" routerLink="/books/{{book.id}}">{{book.title}}</a></td>
    <td>{{book.author}}</td>
    <td><a class="btn btn-primary" routerLink="/books/{{book.id}}/edit">Edit | Remove</a></td>
  </tr>
</table>
